<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Thana</title>
</head>
<body>
<a th:href ="@{/thana/add}">Add </a>
<table border="1">
    <tr>
        <th># </th>
        <th>Thana Name </th>
        <th>Action </th>
    </tr>

    <tr th:each="thana,iterator:${thanaList}">
        <td th:text="${iterator.count}"></td>
        <td th:text="${thana.thanaName}"></td>
        <td>
            <a th:href ="@{'/thana/edit/' + ${thana.thanaId}}">Edit </a>
            <a th:href ="@{'/thana/delete/'+${thana.thanaId}}">Delete </a>
        </td>
    </tr>
</table>
</body>
</html>