<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>District</title>
</head>
<body>
<a th:href ="@{/district/add}">Add </a>
<table border="1">
    <tr>
        <th># </th>
        <th>District Name </th>
        <th>Action </th>
    </tr>

    <tr th:each="district,iterator:${districtList}">
        <td th:text="${iterator.count}"></td>
        <td th:text="${district.districtName}"></td>
        <td>
            <a th:href ="@{'/district/edit/' + ${district.districtId}}"> Edit </a>
            <a th:href ="@{'/district/delete/'+${district.districtId}}">Delete </a>
        </td>
    </tr>
</table>
</body>
</html>