<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>District Save</title>
</head>
<body>
<form action="#" th:object="${district}" th:action="@{/district}" method="POST">
    <input th:type="hidden" th:name="districtId" th:field="${district.districtId}">
    <label th:text="Name"></label>
    <input type="text" th:name="districtName" th:field="${district.districtName}"/>
    <label th:text="Division"></label>
    <select name="division" id="division">
        <option value="0">--SELECT--</option>
        <option th:each="division : ${divisionList}"
                th:value="${division.divisionId}"
                th:text="${division.divisionName}">
        </option>
    </select>
    <input type="submit" th:value="Save"/>
</form>

</body>
</html>