<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Working Area</title>
</head>
<body>
<a th:href ="@{/workingArea/add}">Add </a>
<table border="1">
    <tr>
        <th># </th>
        <th>Working Area Name </th>
        <th>Action </th>
    </tr>

    <tr th:each="workingArea,iterator:${workingAreaList}">
        <td th:text="${iterator.count}"></td>
        <td th:text="${workingArea.workingAreaName}"></td>
        <td>
            <a th:href ="@{'/workingArea/edit/' + ${workingArea.workingAreaId}}">Edit </a>
            <a th:href ="@{'/workingArea/delete/'+${workingArea.workingAreaId}}">Delete </a>
        </td>
    </tr>
</table>
</body>
</html>