<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Working Area Save</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type ="text/javascript">
        $(document).ready(function(){
            $( "#division" ).change(function() {
                $.getJSON("http://localhost:8081/district/findByDivision", {
                    divisionId :  $( "#division" ).val(),
                    ajax : 'true'
                }, function(data) {
                    var html = '<option value="">--Select--</option>';
                    var len = data.length;
                    for ( var i = 0; i < len; i++) {
                        html += '<option value="' + data[i].districtId + '">'
                            + data[i].districtName + '</option>';
                    }
                    html += '</option>';
                    $('#district').html(html);
                });
            });
            $( "#district" ).change(function() {
                $.getJSON("http://localhost:8081/thana/findByDistrict", {
                    districtId :  $( "#district" ).val(),
                    ajax : 'true'
                }, function(data) {
                    var html = '<option value="">--Select--</option>';
                    var len = data.length;
                    for ( var i = 0; i < len; i++) {
                        html += '<option value="' + data[i].thanaId + '">'
                            + data[i].thanaName + '</option>';
                    }
                    html += '</option>';
                    $('#thana').html(html);
                });
            });
            $( "#thana" ).change(function() {
                $.getJSON("http://localhost:8081/unionOrWard/findByThana", {
                    thanaId :  $( "#thana" ).val(),
                    ajax : 'true'
                }, function(data) {
                    var html = '<option value="">--Select--</option>';
                    var len = data.length;
                    for ( var i = 0; i < len; i++) {
                        html += '<option value="' + data[i].unionOrWardId + '">'
                            + data[i].unionOrWardName + '</option>';
                    }
                    html += '</option>';
                    $('#unionOrWard').html(html);
                });
            });
            $( "#unionOrWard" ).change(function() {
                $.getJSON("http://localhost:8081/villageOrBlock/findByUnionOrWard", {
                    unionOrWardId :  $( "#unionOrWard" ).val(),
                    ajax : 'true'
                }, function(data) {
                    var html = '<option value="">--Select--</option>';
                    var len = data.length;
                    for ( var i = 0; i < len; i++) {
                        html += '<option value="' + data[i].villageOrBlockId + '">'
                            + data[i].villageOrBlockName + '</option>';
                    }
                    html += '</option>';
                    $('#villageOrBlock').html(html);
                });
            });
        });
    </script>
</head>
<body>
<form action="#" th:object="${workingArea}" th:action="@{/workingArea}" method="POST">
    <input th:type="hidden" th:name="workingAreaId" th:field="${workingArea.workingAreaId}">
    <label th:text="Name"></label>
    <input type="text" th:name="workingAreaName" th:field="${workingArea.workingAreaName}"/>
    <br/>
    <label>Branch ID </label>
    <input type="text" th:name="branchId"/>
    <br/>
    <label th:text="Division">Division</label>
    <select name="division" id="division">
        <option value="0">--SELECT--</option>
        <option th:each="divisions : ${divisionList}"
                th:value="${divisions.divisionId}"
                th:text="${divisions.divisionName}"
                th:selected="${division.id == divisions.divisionId}">
        </option>
    </select>
    <br/>
    <label th:text="District"></label>
    <select name="district" id="district">
        <option value="0">--SELECT--</option>
    </select>
    <br/>
    <label th:text="Thana"></label>
    <select name="thana" id="thana">
        <option value="0">--SELECT--</option>
    </select>
    <br/>
    <label>Union Or Ward</label>
    <select name="unionOrWard" id="unionOrWard">
        <option value="0">--SELECT--</option>
    </select>
    <br/>
    <label>Village OR Block</label>
    <select name="villageOrBlock" id="villageOrBlock">
        <option value="0">--SELECT--</option>
    </select>
    <br/>
    <label th:text="Code"></label>
    <input type="text" th:name="workingAreaCode" th:field="${workingArea.workingAreaCode}"/>

    <input type="submit" th:value="Save"/>
</form>

</body>
</html>