<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Union Or Ward</title>
</head>
<body>
<a th:href ="@{/unionOrWard/add}">Add </a>
<table border="1">
    <tr>
        <th># </th>
        <th>Union Or Ward Name </th>
        <th>Action </th>
    </tr>

    <tr th:each="unionOrWard,iterator:${unionOrWardList}">
        <td th:text="${iterator.count}"></td>
        <td th:text="${unionOrWard.unionOrWardName}"></td>
        <td>
            <a th:href ="@{'/unionOrWard/edit/' + ${unionOrWard.unionOrWardId}}">Edit </a>
            <a th:href ="@{'/unionOrWard/delete/'+${unionOrWard.unionOrWardId}}">Delete </a>
        </td>
    </tr>
</table>
</body>
</html>