<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Union Or Ward Save</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type ="text/javascript">
        $(document).ready(function(){
            $( "#division" ).change(function() {
                $.getJSON("http://localhost:8081/district/findByDivision", {
                    divisionId :  $( "#division" ).val(),
                    ajax : 'true'
                }, function(data) {
                    var html = '<option value="">--Select--</option>';
                    var len = data.length;
                    for ( var i = 0; i < len; i++) {
                        html += '<option value="' + data[i].districtId + '">'
                            + data[i].districtName + '</option>';
                    }
                    html += '</option>';
                    $('#district').html(html);
                });
            });
            $( "#district" ).change(function() {
                $.getJSON("http://localhost:8081/thana/findByDistrict", {
                    districtId :  $( "#district" ).val(),
                    ajax : 'true'
                }, function(data) {
                    var html = '<option value="">--Select--</option>';
                    var len = data.length;
                    for ( var i = 0; i < len; i++) {
                        html += '<option value="' + data[i].thanaId + '">'
                            + data[i].thanaName + '</option>';
                    }
                    html += '</option>';
                    $('#thana').html(html);
                });
            });
        });
    </script>
</head>
<body>
<form action="#" th:object="${unionOrWard}" th:action="@{/unionOrWard}" method="POST">
    <input th:type="hidden" th:name="unionOrWardId" th:field="${unionOrWard.unionOrWardId}">
    <label th:text="Name"></label>
    <input type="text" th:name="unionOrWardName" th:field="${unionOrWard.unionOrWardName}"/>
    <label th:text="Division"></label>
    <select name="division" id="division">
        <option value="0">--SELECT--</option>
        <option th:each="division : ${divisionList}"
                th:value="${division.divisionId}"
                th:text="${division.divisionName}">
        </option>
    </select>
    <label th:text="District"></label>
    <select name="district" id="district">
        <option value="0">--SELECT--</option>
    </select>
    <label th:text="Thana"></label>
    <select name="thana" id="thana">
        <option value="0">--SELECT--</option>
    </select>
    <input type="submit" th:value="Save"/>
</form>

</body>
</html>