<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Village Or Block</title>
</head>
<body>
<a th:href ="@{/villageOrBlock/add}">Add </a>
<table border="1">
    <tr>
        <th># </th>
        <th>Village Or Block Name </th>
        <th>Action </th>
    </tr>

    <tr th:each="villageOrBlock,iterator:${villageOrBlockList}">
        <td th:text="${iterator.count}"></td>
        <td th:text="${villageOrBlock.villageOrBlockName}"></td>
        <td>
            <a th:href ="@{'/villageOrBlock/edit/' + ${villageOrBlock.villageOrBlockId}}">Edit </a>
            <a th:href ="@{'/villageOrBlock/delete/'+${villageOrBlock.villageOrBlockId}}">Delete </a>
        </td>
    </tr>
</table>
</body>
</html>