<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <!--<link rel="stylesheet" type="text/css" href="/resources/static/css/onOverCss.css"/> -->
    <!-- <link rel="script" type="text/javascript" th:href="@{/js/onHoverJs.js}"/> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type ="text/javascript">
        $(document).ready(function(){
            $("#address_list").hide();
            $("#address").hover(function(){
                $("#address_list").show();
            });
        });
    </script>
</head>
<body>
<ul>
    <li>
        <a href=" " id="address"> Address </a>
            <ul id="address_list">
                <li><a th:href ="@{/division}">Division </a></li>
                <li><a th:href ="@{/district}">District </a></li>
                <li><a th:href ="@{/thana}">Thana </a></li>
                <li><a th:href ="@{/unionOrWard}">Union Or Ward </a></li>
                <li><a th:href ="@{/villageOrBlock}">Village Or Block</a></li>
                <li><a th:href ="@{/workingArea}">Working Area </a></li>
            </ul>
    </li>

</ul>

</body>
</html>