<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Division</title>
</head>
<body>
<a th:href ="@{/division/add}">Add </a>
<table border="1">
    <tr>
        <th># </th>
        <th>Division Name </th>
        <th>Action </th>
    </tr>

    <tr th:each="division,iterator:${divisionList}">
        <td th:text="${iterator.count}"></td>
        <td th:text="${division.divisionName}"></td>
        <td>
            <a th:href ="@{'/division/edit/' + ${division.divisionId}}">Edit </a>
            <a th:href ="@{'/division/delete/'+${division.divisionId}}">Delete </a>
        </td>
    </tr>
</table>
</body>
</html>